---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Image from "astro/components/Image.astro";
import TeamCard from "@/components/TeamCard.astro";
import img3 from "../assets/images/img3.webp";
import img4 from "../assets/images/img4.webp";
import img5 from "../assets/images/img5.webp";
import img6 from "../assets/images/img6.webp";
---

<Layout title="Clique Crew - The Closet Clique">
    <Header />

    <main class="min-h-screen bg-white">
        <!-- Hero Section -->
        <section class="py-6 bg-primary">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
                <h1 class="text-xl md:text-4xl font-pacifico text-white">
					Introducing the Clique Crew
				</h1>
            </div>
        </section>

        <!-- CTO Section -->
        <section class="py-16">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="grid items-center gap-8 lg:grid-cols-2">
                    <Image
                        layout='constrained'
                        width={1000}
                        height={1000}
                        src={img6}
                        alt="Mia Taraszki"
                        class="order-2 max-h-96 w-[80%] rounded-md object-cover lg:order-1 shadow-[8px_8px_0px_0px_#5CA1CB] responsive-image"
                    />
                    <div class="order-1 flex flex-col lg:order-2 lg:items-start lg:text-left">
                        <h1 class="mb-4 text-3xl font-semibold sm:text-5xl">
                            <span class="text-primary text-3xl">Founder</span>
                            <br />
                            Mia Taraszki
                        </h1>
                        <p class="text-muted-foreground mb-2 max-w-xl lg:text-lg">
                            Connector, party planner, proud girl mom, and founder of The Closet Clique, Mia believes
                            life is a series of moments worth celebrating—whether it’s a themed birthday dinner, a
                            homecoming pre-party, or a weekly game of mahjong with friends.
                        </p>
                        <a
                            href="https://www.linkedin.com/in/mia-taraszki/"
                            target="_blank"
                            class="text-primary font-semibold">
                            Continue reading
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team Section -->
        <section class="py-16">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <h2 class="text-4xl font-bold mb-12 text-center">Our Team</h2>

                <div class="grid grid-cols-1 gap-12">
                    <TeamCard
                        name="Ava Taraszki"
                        title="Executive Officer"
                        description="A resale and rental platform designed exclusively for high school and college students. Our app makes closet sharing simple and streamlined. Girls can browse, rent or resell outfits within their verified school network. Whether you are a high schooler, college student, or just a girl who loves to shop, The Closet Clique is the perfect place to find the perfect outfit for any occasion."
                        image={img4}
                    />
					<TeamCard
                        name="Zoe Taraszki"
                        title="Executive Officer"
                        description="A resale and rental platform designed exclusively for high school and college students. Our app makes closet sharing simple and streamlined. Girls can browse, rent or resell outfits within "
                        image={img5}
                    />
					<TeamCard
                        name="Lexi Taraszki"
                        title="Executive Officer"
                        description="A resale and rental platform designed exclusively for high school and college students. Our app makes closet sharing simple and streamlined."
                        image={img3}
                    />
                </div>
            </div>
        </section>
    </main>

    <Footer />
</Layout>
