---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Dropdown from "./dropown.astro";

const pathname = Astro.url.pathname;

const menuitems = [
    {
        title: "Home",
        path: "/",
    },
    {
        title: "About",
        path: "/about",
    },
    {
        title: "Clique Crew",
        path: "/clique-crew",
    },
    {
        title: "Philanthropy",
        path: "/philanthropy",
    },
    {
        title: "Contact",
        path: "/contact",
    },
];
---

<header class="flex flex-col lg:flex-row justify-between items-center my-5 px-4">
    <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/" class="text-lg">
              <img src="/src/assets/logo.svg" alt="The Closet Clique Logo" class=" h-10" />
            </a>
            <div class="block lg:hidden">
                <MenuIcon class="w-4 h-4 text-gray-800" />
            </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
                {
                    menuitems.map((item) => (
                        <>
                            <li>
                                <a href={item.path} class={`flex lg:px-3 py-2 text-gray-600 hover:text-primary ${pathname === item.path ? 'text-primary' : ''}`}>
                                    {item.title}
                                </a>
                            </li> 
                        </>
                    ))
                }
            </ul>
        </MenuItems>
    </Astronav>
</header>
