---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import logo from "@/assets/logo.svg";
const pathname = Astro.url.pathname;

const menuitems = [
    {
        title: "Home",
        path: "/",
    },
    {
        title: "About",
        path: "/about",
    },
    {
        title: "Clique Crew",
        path: "/clique-crew",
    },
    {
        title: "Philanthropy",
        path: "/philanthropy",
    },
    {
        title: "Contact",
        path: "/contact",
    },
];
---

<header class="flex flex-col lg:flex-row justify-between lg:justify-start items-center lg:items-end lg:gap-8 my-5 lg:my-0  lg:h-[120px] bg-secondary">
    <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between bg-white h-full px-4">
            <a href="/" class="text-lg">
              <img src={logo.src} alt="The Closet Clique Logo" class=" h-16 lg:h-20" />
            </a>
            <div class="lg:hidden bg-primary rounded-full p-2 h-10 w-10 flex items-center justify-center">
                <MenuIcon class="w-5 h-5 text-white" />
            </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 p-4">
            <ul class="flex flex-col justify-end items-end lg:flex-row lg:gap-3">
                {
                    menuitems.map((item) => (
                        <>
                            <li>
                                <a href={item.path} class={`flex lg:px-3 py-2 font-serif text-lg  ${pathname.split('/')[1] === item.path.split('/')[1] ? 'text-white font-bold' : 'text-white'}`}>
                                    {item.title.toUpperCase()}
                                </a>
                            </li> 
                        </>
                    ))
                }
            </ul>
        </MenuItems>
    </Astronav>
</header>
